# this is an example .env_local_dev file for local development
# you should make your own .env_local_dev this one takes no effect

# Django app
DEBUG=True
SECRET_KEY=django_secret_key

# Database
DATABASE_NAME = local_db_name
DATABASE_USER_NAME = local_db_user
DATABASE_PASSWORD = local_db_password
DATABASE_HOST = 127.0.0.1
DATABASE_PORT = 5432

# Communication with other services
SIGN_UP_TOKEN = on_time_token_received_during_sign_up
AUTH_SERVICE_URL = https://python.exercise.applifting.cz/api/v1/auth
OFFER_SERVICE_URL = https://python.exercise.applifting.cz/api/v1

# Celery
CELERY_BROKER_URL = "redis://localhost:6379/0"
CELERY_RESULT_BACKEND = "redis://localhost:6379/1"

